@import url("https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Noto+Sans&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div#gameId, button, input, .fakeBtn {
  box-shadow: 1px 5px 5px 0px #b8b8b8;
}

*,
::before,
::after {
  box-sizing: border-box;
}

*::selection {
  background: rgba(65, 187, 120, 0.8);
  border-radius: 5%;
}

html {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  color: #383838;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  font-family: "Hanalei Fill", cursive;
}

h3,
h4,
h5,
h6,
b {
  font-weight: bold;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1rem;
}

p {
  text-align: justify;
  font-size: 1.5rem;
}

a:not(.fakeBtn, b, i, u, li, span) {
  font-weight: inherit;
  text-align: inherit;
  font-size: inherit;
  color: inherit;
}

a:not(.fakeBtn) {
  cursor: pointer;
  color: #41bb78;
  text-decoration: none;
}
a:not(.fakeBtn):hover {
  text-decoration: underline;
}

b {
  font-weight: bolder;
}

i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

button, input, .fakeBtn {
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  outline: 0;
  border: 0px;
  font-size: 1.5rem;
  margin: 1rem 0rem;
  width: 70%;
}

.btn {
  cursor: pointer;
  color: #f9f9f9;
  background-color: #383838;
  transition-duration: 0.2s;
}
.btn:hover, .btn:focus {
  background-color: #2b2b2b;
  box-shadow: 0px 7px 15px 1px #858585, 0 0 0 4px #41bb78;
}
.btn:active {
  transform: translateY(0.15rem);
  transition-duration: 10ms;
  box-shadow: 1px 5px 5px 0px #b8b8b8;
}

.flip-card {
  position: relative;
  perspective: 2000;
  height: 5rem;
  width: 100%;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner {
  transform: rotateX(180deg);
}
.flip-card:hover .flip-card-front button {
  visibility: hidden;
  transition: visibility 0.2s;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front > button {
  position: relative;
  background: #41bb78;
  color: #f9f9f9;
}
.flip-card-front > button > i {
  position: absolute;
  right: 1.5rem;
}
.flip-card-back {
  transform: rotateX(180deg);
}

.primary {
  color: #41bb78;
}

div#gameId {
  border-radius: 0.5rem;
  background-color: #383838;
  height: unset;
  position: relative;
}
div#gameId > input {
  font-size: 4rem;
  text-align: center;
  color: #f9f9f9;
  font-weight: bolder;
  cursor: pointer;
  width: 10ch;
  border: unset;
  margin: unset;
  box-shadow: unset;
  background-color: unset;
}
div#gameId > i {
  position: absolute;
  right: -1rem;
  bottom: -1rem;
  background: #41bb78;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
  color: #f9f9f9;
  transition-duration: 0.2s;
  box-shadow: 0 0 0 4px #383838;
}
div#gameId > i:hover {
  background: #65ca93;
  color: #383838;
}
div#gameId > i:active {
  background: #f9f9f9;
}

#content {
  width: 80vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

#box {
  height: 10vh;
  width: 10vw;
  background-color: violet;
}

/*# sourceMappingURL=lobby.css.map */
