@import url("https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Noto+Sans&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sliderround, div#gameId, button, input, .fakeBtn {
  box-shadow: 1px 5px 5px 0px #b8b8b8;
}

*,
::before,
::after {
  box-sizing: border-box;
}

*::selection {
  background: rgba(65, 187, 120, 0.8);
  border-radius: 5%;
}

html {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  color: #383838;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  font-family: "Hanalei Fill", cursive;
}

h3,
h4,
h5,
h6,
b {
  font-weight: bold;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1rem;
}

p {
  text-align: justify;
  font-size: 1.5rem;
}

a:not(.fakeBtn, b, i, u, li, span) {
  font-weight: inherit;
  text-align: inherit;
  font-size: inherit;
  color: inherit;
}

a:not(.fakeBtn) {
  cursor: pointer;
  color: #41bb78;
  text-decoration: none;
}
a:not(.fakeBtn):hover {
  text-decoration: underline;
}

b {
  font-weight: bolder;
}

i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

button, input, .fakeBtn {
  font-family: "Noto Sans", sans-serif;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  outline: 0;
  border: 0px;
  font-size: 1.5rem;
  margin: 1rem 0rem;
  width: 70%;
}

.btn {
  cursor: pointer;
  color: #f9f9f9;
  background-color: #383838;
  transition-duration: 0.2s;
}
.btn:hover, .btn:focus {
  background-color: #2b2b2b;
  box-shadow: 0px 7px 15px 1px #858585, 0 0 0 4px #41bb78;
}
.btn:active {
  transform: translateY(0.15rem);
  transition-duration: 10ms;
  box-shadow: 1px 5px 5px 0px #b8b8b8;
}

.flip-card {
  position: relative;
  perspective: 2000;
  height: 5rem;
  width: 100%;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner {
  transform: rotateX(180deg);
}
.flip-card:hover .flip-card-front button {
  visibility: hidden;
  transition: visibility 0.2s;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front > button {
  position: relative;
  background: #41bb78;
  color: #f9f9f9;
}
.flip-card-front > button > i {
  position: absolute;
  right: 1.5rem;
}
.flip-card-back {
  transform: rotateX(180deg);
}

.primary {
  color: #41bb78;
}

.red {
  color: #e74c3c;
}

.content {
  margin-top: 5rem;
  padding: 0rem 5rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

/*CLOSE BUTTON*/
.close {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
}
.close > i {
  color: #383838;
  background: #41bb78;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  box-shadow: inset 0 0 0 4px #383838;
  border-radius: 0.7rem;
  transition-duration: 0.5s;
}
.close > i:hover {
  box-shadow: inset 0 0 0 1.5rem #e74c3c;
  transition-duration: 0.2s;
  color: #f9f9f9;
  transform: rotateZ(90deg);
}
.close > i:active {
  box-shadow: inset 0 0 0 1.6rem #f9f9f9;
  color: #e74c3c;
}

/*GAME CODE INPUT*/
div#gameId {
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: #383838;
  height: unset;
  position: relative;
}
div#gameId > input {
  transition-duration: 0.8s;
  padding-right: 2rem;
  font-size: 4rem;
  text-align: center;
  color: #f9f9f9;
  font-weight: bolder;
  cursor: pointer;
  width: 10ch;
  border: unset;
  margin: unset;
  box-shadow: unset;
  background-color: unset;
}
div#gameId > input:hover {
  color: #65ca93;
}
div#gameId > i {
  position: absolute;
  right: -1rem;
  bottom: -1rem;
  background: #41bb78;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
  color: #383838;
  transition-duration: 0.2s;
  box-shadow: 0 0 0 4px #383838;
}
div#gameId > i:hover {
  background: #65ca93;
  color: #f9f9f9;
  transform: scale(1.1);
}
div#gameId > i:active {
  background: #383838;
  transform: scale(0.9);
}

#content {
  width: 80vw;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.container {
  margin: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.box {
  margin: 0.5rem 0.5rem;
  padding: 1.5rem;
  background-color: #e7e7e7;
  border-radius: 0.5rem;
}

#playerList {
  flex-grow: 1;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#players {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  overflow-y: scroll;
  flex-grow: 10;
}
#players .player {
  position: relative;
  text-align: start;
  color: #f9f9f9;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  border-radius: 0.2rem;
}
#players .player.ready {
  background-color: #41bb78;
}
#players .player:not(.ready) {
  background-color: #525252;
}
#players .player.ready:hover {
  background-color: #3eb373;
}
#players .player:not(.ready):hover {
  background-color: #4c4c4c;
}
#players .player > i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 0.2s;
  cursor: pointer;
}
#players .player > i:hover {
  transform: translateY(-50%) rotate(0.25turn);
  color: #e74c3c;
}
#players .player > i:active {
  transform: translateY(-50%) rotate(0.25turn) scale(0.95);
  transition-duration: 0.05s;
}

#settings {
  width: 100%;
}

.default {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

/*SLIDER*/
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 30rem;
  height: 0.3rem;
  background: white;
  box-shadow: none;
  outline: none;
  padding: 0;
  /*COLOR SELECTOR*/
}
.slider:hover {
  filter: brightness(1.1);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: #349560;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background: #41bb78;
  cursor: pointer;
}
.slider.color {
  background: none;
  width: 80%;
}
.slider.color::-webkit-slider-thumb {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
}
.slider.color::-moz-range-thumb {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
}

/*SWITCH*/
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderround {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e74c3c;
  transition: 0.4s;
  border-radius: 1rem;
}
.sliderround:before {
  position: absolute;
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  left: 0.2rem;
  bottom: 0.17rem;
  background-color: #f9f9f9;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .sliderround {
  background-color: #41bb78;
}

input:checked + .sliderround:before {
  transform: translateX(1.4rem);
}

hr {
  border: 0.5px solid #383838;
  background: #383838;
  border-radius: 0.5rem;
  width: 90%;
}

.settingOut {
  width: 6ch;
  text-align: right;
  font-size: 1.5rem;
  padding: 0;
  background: none;
  box-shadow: none;
}
.settingOut::-webkit-outer-spin-button, .settingOut::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

#chat {
  height: 25rem;
  width: 30vw;
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#chat > h5 {
  margin-bottom: 0.8rem;
}
#chat #messages {
  flex-grow: 1000;
  width: 100%;
  padding: 0.5rem 0rem;
  overflow-y: scroll;
}
#chat #messages li {
  position: relative;
  background-color: #f6f6f6;
}
#chat #messages li h6 {
  position: absolute;
  left: 0.2rem;
}
#chat #messages li p {
  padding: 1.5rem 2rem 1rem 1rem;
  font-size: 1rem;
}
#chat #messages li:nth-child(2n) {
  background-color: #f1f1f1;
}
#chat form {
  margin-top: 1rem;
  position: relative;
  width: 100%;
  height: 3rem;
}
#chat form > * {
  margin: 0;
}
#chat form input[type=text] {
  height: 2rem;
  width: 100%;
  padding-right: 2rem;
  position: absolute;
  bottom: 50%;
  left: 0px;
  transform: translateY(50%);
}
#chat form button {
  position: absolute;
  padding: 0px;
  margin: 0px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #41bb78;
  color: #f9f9f9;
  font-size: 0.9rem;
  z-index: 10;
  bottom: 50%;
  right: 0.3rem;
  transform: translateY(50%);
}

/*# sourceMappingURL=lobby.css.map */
