@import "main.scss";

/////////////////////////////////
.content {
    padding: 0rem 5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin:1rem;
}

/*CLOSE BUTTON*/
.close {
    position: fixed;
    left: .5rem;
    bottom: .5rem;
    width: 3rem;
    height: 3rem;
    &>a{
        text-decoration: none;
    }
    &>i {
        color: $black;
        background: $primary;
        font-size: 3rem;
        width: 3rem;
        height: 3rem;
        box-shadow: inset 0 0 0 4px $black;
        border-radius: .7rem;
        transition-duration: .5s;
        
        &:hover {
            box-shadow: inset 0 0 0 1.5rem $red;
            transition-duration: .2s;
            color: $white;
            transform: rotateZ(90deg);
            cursor: pointer;
        }
        
        &:active {
            box-shadow: inset 0 0 0 1.6rem $white;
            color: $red;
        }
    }
    &>span{
        position:absolute;
        bottom: 110%;
        left: 0;
        transition-duration:1s;
        opacity: 0;
        color:darken($red,20);
        font-size:.8rem;
    }
    &:hover{
        &>span{
            transition-duration:.5s;
            opacity:1;
        }
    }

}

.header{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;

    width:100%;
    padding-top: 1rem;
    &>h1{
        padding-top:1rem;
        font-size:5rem;
    }
}
/*GAME CODE INPUT*/
div#gameId {
    @extend %boxShadow;
    border-radius: .5rem;
    background-color: $black;
    height: unset;
    position: relative;
    margin: .5rem 3rem;
    
    &>input {
        transition-duration: .5s;
        padding-right: 2rem;
        font-size: 4rem;
        text-align: center;
        color: $white;
        font-weight: bolder;
        cursor: pointer;
        width: 10ch;
        border: unset;
        margin: unset;
        box-shadow: unset;
        background-color: unset;

        &:hover {
            color: lighten($primary, 10);
        }
    }

    &>i {
        position: absolute;
        right: -1rem;
        bottom: -1rem;

        background: $primary;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 2rem;
        padding: .5rem;
        color: $black;
        transition-duration: .2s;
        box-shadow: 0 0 0 4px $black;

        &:hover {
            background: lighten($primary, 10);
            color: $white;
            transform: scale(1.1);
        }

        &:active {
            background: $black;
            transform: scale(0.9);
        }
    }

}

#content {
    width: 80vw;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.container {
    margin:.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:space-between;
    background: darken($white,15);
    padding:1rem;
    border-radius:.5rem;
}

.box {
    margin: .5rem .5rem;
    padding: 1.5rem;
    background-color: darken($white, 7);
    border-radius: .5rem;
}

#playerList {
    flex-grow: 1;
    height: 35rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#players {
    width: 100%;
    padding: .5rem;
    margin-bottom: .5rem;
    overflow-y: scroll;
    flex-grow: 10;


    .player {
        position: relative;

        text-align: start;
        color: $white;
        margin: .5rem .5rem;
        padding: .5rem 2.5rem .5rem 1rem;
        border-radius: .2rem;

        &.ready {
            background-color: $primary;
        }

        &:not(.ready) {
            background-color: lighten($black, 10);
        }

        &.ready:hover {
            background-color: darken($primary, 2);
        }

        &:not(.ready):hover {
            background-color: lighten($black, 8);
        }

        &>i {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            transition-duration: .2s;
            cursor: pointer;

            &:hover {
                //transform-origin: -50% -50%;
                transform: translateY(-50%) rotate(0.25turn);
                color: $red;
            }

            &:active {
                transform: translateY(-50%) rotate(0.25turn) scale(.95);
                transition-duration: .05s;
            }
        }
    }
    &>h5{
        z-index: 10;
    }
}
#readyBtn{
    background:$black;
    color:$white;
    box-shadow: inset 0 0 0 4px $black, inset 0 0 0 8px darken($primary,20);
    text-align:center;
    line-height:3rem;
    font-size:2rem;
    transition-duration:.5s;
    z-index: 0;

    padding:.5rem 4rem;
    border-radius:1rem;
    margin-top:1.5rem;

    &:hover{
        cursor: pointer;
        box-shadow: inset 0 0 0 4px $black, 
        inset 0 0 0 8px lighten($primary,10),
        inset 0 0 5px 8px $primary;
        transition-duration:.3s;
    }
    &:active{
        background:$primary;
        transform:scale(0.9);
    }
    &.ready{
        background:$primary;
        box-shadow:0 0 10px 0 $primary;
        &:hover{
            box-shadow:0 0 20px 5px $primary;
        }
    }
}

/*PARAMETRES DE LA PARTIE*/
#settings {
    width: 100%;
    display:flex;
    flex-flow: row wrap;
}
.setting{
    margin-right:1rem;
}
.default {
    font-size: 0.8rem;
    margin-top:0.3rem;
}
.color{
    flex-grow:3;
}
.switchContainer{
    flex-grow:2;
}
.sliderContainer{
    flex-grow:4;
}

/*SLIDER*/
.slider {
    -webkit-appearance: none;
    @extend %boxShadow;
    appearance: none;
    flex-basis:  60%;
    height: .3rem;
    background: white;
    box-shadow: none;
    outline: none;
    padding: 0;;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background: $primary;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 1rem;
        height: 1rem;
        background: $primary;
        cursor: pointer;
    }
}

/*SWITCH*/
.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;

    & input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}
.sliderround {
    @extend %boxShadow;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $red;
    transition: .4s;
    border-radius: 1rem;

    &:before {
        position: absolute;
        content: "";
        height: 1.2rem;
        width: 1.2rem;
        left: .2rem;
        top: .17rem;
        background-color: white;
        transition: .3s;
        border-radius: 50%;
    }
}
input:checked+.sliderround {
    background-color: $primary;
}
input:checked+.sliderround:before {
    transform: translateX(1.4rem);
}


/*HR*/
hr {
    border: .5px solid $black;
    background: $black;
    border-radius: .5rem;
    width:90%;
}


/*SETTING OUTPUT*/
.settingOut {
    width: 4ch;
    text-align:center;
    font-size: 1.5rem;
    padding: 0;
    background: darken($white,10);
    border-radius:.5rem;
    box-shadow: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        margin: 0;
    }
}


/*COLOR SELECTOR*/
#color{
    width:3rem;
    height:3rem;
    line-height:3rem;

    border-radius:100%;
    box-shadow:0 0 0 2px white, (1px 5px 5px 0px lighten($black, $amount: 50));
    background:$primary;
    transition-duration:.2s;

    padding:0;
    margin:0;
    position:relative;
    
    & #left, & #right{
        width:1.5rem;
        height:3rem;

        font-size:0.5rem;
        color:transparentize($white,0.5);
        
        top:0;
        padding:0;
        margin:0;
        z-index: 10;
        position:absolute;

        &:hover{
            background:transparentize($white, 0.90);
            color:$white;
            cursor: pointer;
            transition-duration:.2s;
            &>i{
                transition-duration:.2s;
                transform:scale(1.1);
            }
        }
        &:active{
            background:transparentize($white, 0.5);
            &>i{
                transition-duration:.05s;
                transform:scale(0.9);
            }
        }
    }
    #left{
        border-radius:10rem 0 0 10rem;
        left:0; 
    }
    #right{
        border-radius:0 10rem 10rem 0;
        right:0;
    }    
}




/*CHAT*/
#chat {
    height: 35rem;
    width: 30vw;
    flex-grow: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;


    #messages{
        flex-grow: 1000;
        width: 100%;
        padding: .5rem 0rem;
        overflow-y: scroll;
        
        li{ 
            position: relative;
            background-color: darken($white, $amount: 1);
            h6{
                position: absolute;
                left: .2rem;
            }

            p{
                padding: 1.5rem 2rem 1rem 1rem;
                font-size: 1rem;
            }
        }
        li:nth-child(2n) {
            background-color: darken($white, $amount: 3);
          }
    }

    form {
        margin-top: 1rem;
        position: relative;
        width: 100%;
        height: 3rem;

        &>* {
            margin: 0;
        }

        input[type='text'] {
            height: 2rem;
            width: 100%;
            padding-right: 2rem;
            position: absolute;
            bottom: 50%;
            left: 0px;
            font-size:1rem;
            transform: translateY(50%);
        }

        button {
            position: absolute;
            padding: 0px;
            margin: 0px;

            width: 1.5rem;
            height: 1.5rem;

            background-color: $primary;
            color: $white;
            font-size: .9rem;

            z-index: 10;

            right: .4rem;
            bottom:50%;
            transform: translateY(50%);
            transition:all .5s;
            &:hover{
                background:darken($primary,5);
                cursor: pointer;
                transform:translateY(50%) scale(1.2);
                transition:all .2s;
                &>i{
                    transform:rotate(360deg);
                    transition:all .5s;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .box{
        order: 3;
    }
    #chat{
        width: 100%;
        order: 2;
    }
    #playerList{
        order: 1;
    }
  }